# Игнорировать скомпилированные файлы и отчеты
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Maven wrapper (оставляем только jar, если используется)
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA (игнорируем всю папку .idea)
.idea/

# Allure (игнорируем всю папку .allure)
.allure/

# Другие IDE
*.iws
*.iml
*.ipr

# Eclipse
.classpath
.project
.settings
.factorypath
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# macOS
.DS_Store